<button class="card"
    [style.cursor] = "cursor"
>
    <div class="front face"> 
        <fa-icon *ngIf="content.frontFace.icon"
            [icon]="content.frontFace.icon"
            [style.color] = "content.frontFace.iconColor"
            [style.font-size] = "content.frontFace.iconSize"
        ></fa-icon>
        <span *ngIf="content.frontFace.text">
            {{ content.frontFace.text }} 
        </span>
    </div>

    <!-- Back Face -->

    <!-- Custom background color -->
    <div class="back face"
        [style.background]=" content.backFace.bg "
    > 
        <span  class="title" *ngIf="content.backFace.title" 
            [style.color] = "content.backFace.titleColor"
            [style.font-size] = "content.backFace.titleSize"
        > 
            {{content.backFace.title}} 
        </span>
        
        <span *ngIf="content.backFace.text" class="content" 
        [style.color]="content.backFace.textColor"> 
            {{ content.backFace.text }} 
        </span>
    </div>
</button>
