<button class="card"
    [style.cursor] = "cursor">

    <!-- Front face -->
    <div class="front face"> 
        <fa-icon *ngIf="front.icon"
            [icon]="front.icon"
            [style.color] = "front.iconColor"
            [style.font-size] = "front.iconSize"
        ></fa-icon>

        <span *ngIf="front.text">
            {{ front.text }}    
        </span>
    </div>

    <!-- Back Face -->

    <!-- Custom background color -->
    <div class="back face"
        [style.background]=" back.bg">

        <span  class="title" *ngIf="back.title" 
            [style.color] = "back.titleColor"
            [style.font-size] = "back.titleSize"> 
            {{back.title}} 
        </span>
        
        <span *ngIf="back.text" class="content" 
        [style.color]="back.textColor"> 
            {{ back.text }} 
        </span>
    </div>
</button>
