a {
    color: #478892;
    padding: 15px;
    position: relative;
    transition: 0.5s;
    
    text-decoration: none;
    font-size: 1.1em;
}

a:before, a:after {
    content: '';
    position: absolute;

    width: 10px;
    height: 10px;
    transition: 0.5s;
}
a:before {
    top: 0; left: 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
a:after {
    bottom: 0; right: 0;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

a:hover {
    color: white;
    background-color: #111;

    box-shadow:
        0 0 3px 1.5px #fff, 
        0 0 5px 3px #0ff; 
}
a:hover:before, a:hover:after {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

@media screen and (min-width: 40em) {
    a { font-size: 1.3em; } 
}