a:before, a:after, a {
    transition: .5s;
}

a {
    padding: 15px;
    position: relative;
    color: (var(--secondary-color));
    
    text-decoration: none;
    font-size: 1.1em;
}

a:before, a:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
}

a:before {
    top: 0; left: 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
a:after {
    bottom: 0; right: 0;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

a:hover {
    color: var(--text-color);
    background-color: var(--background-color);

    box-shadow:
        0 0 3px 1.5px #fff, 
        0 0 5px 3px var(--neon-color); 
}
a:hover:before, a:hover:after {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

@media screen and (min-width: 40em) {
    a { font-size: 1.3em; } 
}