.tools-section {
    position: relative;
    max-width: 100vw;
    display: grid;
    margin: 0px 0px;

    .text-container {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: flex-start;

        p, h2 {
            text-align: center;
        }

        h2 {
            font-size: 3.5em;
            color: #12E085
        }
        p {
            font-size: 1.2em;
        }
    }

    .tools-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;

        span, flipping-text-card {
            justify-self: center;

            width: 90%;
            max-width: 200px;
        }
    }

}
@media screen and (min-width: 40em) {
    .tools-section {  
        grid-gap: 20px;  
        grid-template-columns: 1fr 1fr;

        span {
            font-size: 1.3em;
        }
        #watermark {
            font-size: 15em;
        }
    }
}
@media screen and (min-width: 55em) {
    .tools-container {
        margin: 40px 0px;
    }
}

#watermark {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: -100;
    margin: auto auto;
    height: fit-content;

    color: rgba(50, 50, 50, 0.8);
    font-size: 10em;
}