<div class="tools-section">
    <div class="text-container">
        <h2> Experience </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ducimus pariatur et ipsa molestiae, reiciendis, quisquam libero exercitationem ab labore eligendi consequuntur atque obcaecati voluptatum distinctio optio perferendis nostrum itaque.</p>
    </div>

    <div class="tools-container">
        <flipping-text-card 
            *ngFor="let tool of toolsList"
            [content]="tool"
        ></flipping-text-card>
    </div>
    <span id="watermark">
        Experience
    </span>
</div>

