<div class="tools-section">
    <div class="text-container">
        <h2> Experience </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ducimus pariatur et ipsa molestiae, reiciendis, quisquam libero exercitationem ab labore eligendi consequuntur atque obcaecati voluptatum distinctio optio perferendis nostrum itaque.</p>
        <!-- Diferenciar por colores las tecnologias en las cuales tengo experiencia profesional
        y en las cuales tengo experiencia por cursos y proyectos personales. -->
        <!-- <ul>
            <li id="pro">Professional Experience</li>
            <li id="courses">Courses and Projects Experience</li>
        </ul> -->
    </div>

    <div class="tools-container">
        <flipping-text-card 
            *ngFor="let tool of toolsList"
            [content]="tool"
        ></flipping-text-card>
    </div>
    <span id="watermark">
        Experience
    </span>
</div>

