<div class="tools-section">
    <div class="text-container">
        <h2> Experience </h2>
        <p>
            With 19 years, many cups of coffee and +1 year of professional experience accompanied by teamwork and leading technologies, i am ready to face any challenge.  <br><br>
            These are some technologies i have experience with.
        </p>
    </div>

    <div class="tools-container">
        <flipping-text-card 
            *ngFor="let tool of toolsList"
            [content]="tool"
        ></flipping-text-card>
    </div>
    <span id="watermark">
        Experience
        <!-- About me -->
    </span>
</div>

