// #07D6F1
// #3B737A
// #12E085
// #E44B4D
// #AD1F68

.content { padding: 20px 20px }

.first-section-background {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow: hidden;    
}

.section-title { 
    text-align: center;
    font-size: 3.5em;
    color: #12E085
}

// Sections
.projects-section {
    background-color: #1d1d1d;
}

// Responsive
@media screen and (min-width: 40em) {
    .content { margin: 10px 50px 30px 50px }
}
@media screen and (min-width: 55em) {
    .content { margin: 10px 100px 50px 100px }
}

scroll-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
