.first-section-background {
    height: 100vh;
    width: 100vw;
    overflow: hidden;    
}
// .first-section-background {
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     z-index: -100;

//     height: 100vh;
//     width: 100vw;
//     overflow: hidden;    
// }

// .first-section {
//     color: white;
//     margin: 30px;
//     max-width: 100%;
//     border-radius: 5px;
//     // box-shadow: 0px 0px 50px green;

//     z-index: -150;

//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }