<div class="first-section-background">
    <fontawesome-animated-background [iconRowsCount]="20"></fontawesome-animated-background>
</div>
<!-- 
<div class="first-section-background">
    <fontawesome-animated-background [iconRowsCount]="20"></fontawesome-animated-background>
</div>

<div class="first-section">
    <div class="presentation-container">
        <h1>Hi!</h1>
        <h2>I'm Matias Acosta</h2>
        <h3>A Frontend Developer</h3>
    </div>
    <div class="background">
        <fontawesome-animated-background [iconRowsCount]="20"></fontawesome-animated-background>
    </div>
</div> -->
