<div class="first-section-background">
    <fontawesome-animated-background [iconRowsCount]="20"></fontawesome-animated-background>
</div>

<!-- Tools -->

<div class="content">
    <div class="tools-section">
        <div class="text-container">
            <h2> Experience </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ducimus pariatur et ipsa molestiae, reiciendis, quisquam libero exercitationem ab labore eligendi consequuntur atque obcaecati voluptatum distinctio optio perferendis nostrum itaque.</p>
            <!-- Diferenciar por colores las tecnologias en las cuales tengo experiencia profesional
            y en las cuales tengo experiencia por cursos y proyectos personales. -->
            <ul>
                <li>Professional Experience: 2</li>
                <li>Courses and Projects Experience: 5</li>
            </ul>
        </div>
    
        <div class="tools-container">
            <span>Angular</span>
            <span>Wordpress</span>
            <span>Visual Studio Code</span>
            <span>Git</span>
            <span>GitHub</span>
            <span>PrimeNg</span>
            <span>JavaScript</span>
            <span>TypeScript</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>SASS</span>
            <span>Python</span>
            <span>PySide6</span>
            <span>Django</span>
            <span>SQL</span>
        </div>
    </div>
</div>


<h2 class="section-title"> Some of my projects </h2>

<!-- Projects -->
<div class="content">
    <div class="projects-container">
        <div class="row">
            <div class="project-description">
                <h3>Project</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quis laborum vel, impedit nemo, dolor iusto quibusdam error fugiat voluptate obcaecati maxime ratione eaque, molestias alias facere voluptatum quo culpa.</p>
            </div>
            <div class="project-image">
                <span class="image">This is an image</span>
            </div>
        </div>
        <div class="row">
            <div class="project-description">
                <h3>Project</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quis laborum vel, impedit nemo, dolor iusto quibusdam error fugiat voluptate obcaecati maxime ratione eaque, molestias alias facere voluptatum quo culpa.</p>
            </div>
            <div class="project-image">
                <span class="image">This is an image</span>
            </div>
        </div>
        <div class="row">
            <div class="project-description">
                <h3>Project</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quis laborum vel, impedit nemo, dolor iusto quibusdam error fugiat voluptate obcaecati maxime ratione eaque, molestias alias facere voluptatum quo culpa.</p>
            </div>
            <div class="project-image">
                <span class="image">This is an image</span>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="content">
    <div class="contact-section-container">
        <h2>Get in touch</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit fugit quas ipsum assumenda, impedit perferendis explicabo dignissimos vel sunt quod quidem deserunt numquam accusamus. Ullam expedita doloribus dicta unde quod!</p>

        <button>Say Hello</button>

    </div>

</div>
