body {
    padding-bottom: 50px;
}

.first-section-background {
    height: 100vh;
    width: 100vw;
    overflow: hidden;    
}

.section-title { 
    text-align: center;
}

.content {
    padding: 20px 20px
}
@media screen and (min-width: 40em) {
    .content { padding: 20px 50px }
}
@media screen and (min-width: 55em) {
    .content { padding: 20px 100px }
}


// Tools Section
.tools-section {
    display: grid;

    .text-container {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .tools-container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        span {
            padding: 7px;
            color: white;
            border-radius: 5px;
            background-color: green;
        }
    }

}
@media screen and (min-width: 40em) {
    .tools-section {  
        grid-gap: 20px;  
        grid-template-columns: 1fr 1fr;
    }
}

// Projets
.projects-container {
    display: grid;
    grid-gap: 10px;

    .row {
        display: grid;
        grid-gap: 10px;;

        .project-description {
            text-align: center;
        }
        .project-image {
            display: none;
        }
    }
}

@media screen and (min-width: 40em) {
    .projects-container {
        .row {
            grid-template-columns: 1fr 1fr;

            .project-image {
                display: block;
                background-color: aquamarine;
            }
        }
    }
}

// contact
.contact-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    button {
        max-width: 100px;
    }
}

