<scroll-button scrollToId="top-menu" [showFromPx]="300"></scroll-button>
<top-menu id="top-menu"></top-menu>

<div class="first-section-background" id="first-section">
    <fontawesome-animated-background [iconRowsCount]="20"></fontawesome-animated-background>
</div>

<div class="content tools-section" id="about"> <tools-section></tools-section> </div>

<div class="content projects-section" id="projects"> 
    <water-text label="Projects"></water-text>
    <projects-section></projects-section> 
</div>

<div class="content contact-section" id="contact"> 
    <water-text label="Get in touch"></water-text>
    <contact-section></contact-section>
</div>

<custom-footer></custom-footer>

