.footer-container {
    padding: 20px 0px 40px 0px;
    background-color: var(--secondary-color);

    display: grid;
    justify-content: center;

    .icons-container {
        display: flex;
        justify-content: center;

        button {
            font-size: 3em;
            transition: .3s;
        }
        button:hover {
            transform: scale(1.3);
        }
    }

    .copyright {
        margin-top: 10px;
        text-align: center;
        h2 { 
            margin-top: 5px; 
            margin-bottom: 5px; 
        }
    }
}

@media screen and (min-width: 40em) {
    .footer-container {
        padding: 40px 0px;
        grid-template-columns: 1fr 1fr;

        .copyright { margin-top: 0; } 
    }
}