<div class="projects-container">
    <div class="project-info hidden">
        <div class="project-description">
            <h3>Project</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quis laborum vel, impedit nemo, dolor iusto quibusdam error fugiat voluptate obcaecati maxime ratione eaque, molestias alias facere voluptatum quo culpa.</p>
        </div>
        <div class="project-image">
            <span class="image"><fa-icon [icon]="['fab', 'angular']"></fa-icon></span>
        </div>
    </div>
    <div class="project-info hidden">
        <div class="project-description">
            <h3>Project</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quis laborum vel, impedit nemo, dolor iusto quibusdam error fugiat voluptate obcaecati maxime ratione eaque, molestias alias facere voluptatum quo culpa.</p>
        </div>
        <div class="project-image">
            <span class="image"><fa-icon [icon]="['fab', 'python']"></fa-icon></span>
        </div>
    </div>
    <div class="project-info hidden">
        <div class="project-description">
            <h3>Project</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quis laborum vel, impedit nemo, dolor iusto quibusdam error fugiat voluptate obcaecati maxime ratione eaque, molestias alias facere voluptatum quo culpa.</p>
        </div>
        <div class="project-image">
            <span class="image"><fa-icon [icon]="['fab', 'python']"></fa-icon></span>
        </div>
    </div>
</div>
