<div class="projects-container">
    <div class="project-info hidden" *ngFor="let project of projectsInfo">
        <div class="project-description">
            <a class="title" (click)="redirect(project.redirectTo)"> 
                {{ project.title }} 
            </a>
            <p>{{ project.description }}</p>
        </div>
        <flipping-text-card (click)="redirect(project.redirectTo)"
            cursor="pointer" 
            [content]="project.cardContent">
        </flipping-text-card>
    </div>
</div>
