<div class="mobile-menu">
    <button (click)="showMenu()">
        <fa-icon icon="bars"></fa-icon>
    </button>
</div>

<div class="mobile-menu-items" [class.show]="showMenuItems" >
    <div class="buttons-container">

        <neon-light-button *ngFor="let item of menuItems"
            (click)="scrollTo(item)" 
            [label]="item.text"></neon-light-button>
    </div>
</div>

<!-- Desktop -->
<div class="desktop-menu-container">
    <div class="desktop-menu">
        <neon-light-button *ngFor="let item of menuItems"
            (click)="scrollTo(item)" 
            [label]="item.text"></neon-light-button>
    </div>
</div>
